In [1]:
!pip install geopandas
import pandas as pd
import altair as alt
import geopandas as gpd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 30.7 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 28.0 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.2)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 47.5 MB/s
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.6.15)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

In [1]:
df1 = pd.read_csv('conCountries.csv')
df1.head()

In [ ]:
pd.set_option('display.max_rows', 232)
pd.set_option('display.max_columns', 67)

In [3]:
df3 = pd.read_csv('conCountries.csv')
df3.head()

,Unnamed: 0,Unnamed: 0.1,companies,Expert Tag,Far Segent,solutionFocus,funding,country,iso_code,continent
0,0,0,EarthOptics,NaN,Multi-faceted,Monitoring & Management,15250000.0,United States of America,840,North America
1,1,1,Harvesting,NaN,Crops,Business Planning & Finance,0.0,United States of America,840,North America
2,2,2,Harvest Automation - Warehouse Automation Busi...,"Handling, Agriculture",Crops,Monitoring & Management,0.0,United States of America,840,North America
3,3,3,Trimble,"infrastructure, Sensors, Connectivity, 3Dprint...",Crops,Monitoring & Management,0.0,United States of America,840,North America
4,4,4,Grow Camera,ConnectedDevices,Crops,Monitoring & Management,0.0,United States of America,840,North America

##Nigeria's historic GDP growth rate

In [23]:
df4 = pd.read_csv('gdp.csv')
df4.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.035375,6.429817,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600,-22.318948,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,0.239594,7.980768,5.164334,4.579952,5.327717,...,0.923067,4.200209,3.984387,2.952845,2.217017,2.557135,2.485244,2.025941,-2.886856,4.303667
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,NaN
3,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.848752,3.770220,7.272440,5.396349,4.049793,...,5.142997,6.104192,5.927355,2.745894,0.127844,2.317679,2.952190,3.202544,-0.897014,3.914799
4,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.540000,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000,-5.500000,0.700000

In [24]:
Nigeria = df4[df4['Country Name'].isin(['Nigeria'])]
Nigeria

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
174,Nigeria,NGA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,0.191795,4.102993,8.578619,4.950489,4.884977,...,4.230061,6.671335,6.309719,2.652693,-1.616869,0.805887,1.922757,2.208429,-1.794253,3.647187

In [25]:
Nigeria = Nigeria.melt()
Nigeria.head()

         variable                  value
0    Country Name                Nigeria
1    Country Code                    NGA
2  Indicator Name  GDP growth (annual %)
3  Indicator Code      NY.GDP.MKTP.KD.ZG
4            1960                    NaN

In [26]:
Nigeria = Nigeria.rename(columns={'variable':'year', 'value': 'GDP Percentage Change'})

### reduce dataframe to just 2012

In [27]:
Nigeria = Nigeria.drop([0, 1, 2, 3])

In [28]:
Nigeria['year'] = Nigeria['year'].astype(int)

In [ ]:
# Nigeria['GDP Percentage Change'] = Nigeria['GDP Percentage Change']

In [29]:
Nigeria = Nigeria[Nigeria.year > 2001]
Nigeria

    year GDP Percentage Change
46  2002             15.329156
47  2003              7.347195
48  2004              9.250558
49  2005              6.438517
50  2006              6.059428
51  2007               6.59113
52  2008              6.764473
53  2009              8.036925
54  2010              8.005656
55  2011              5.307924
56  2012              4.230061
57  2013              6.671335
58  2014              6.309719
59  2015              2.652693
60  2016             -1.616869
61  2017              0.805887
62  2018              1.922757
63  2019              2.208429
64  2020             -1.794253
65  2021              3.647187

In [30]:
Nigeria['GDP Growth Rate'] = Nigeria['GDP Percentage Change'] / 100

In [31]:
Nigeria.head()
# Nigeria = pd.read_csv('NigeriaGDP.csv')

    year GDP Percentage Change GDP Growth Rate
46  2002             15.329156        0.153292
47  2003              7.347195        0.073472
48  2004              9.250558        0.092506
49  2005              6.438517        0.064385
50  2006              6.059428        0.060594

In [33]:
chart = alt.Chart(Nigeria).mark_bar().configure(background='#353d4c').encode(
    alt.X("year:O"),
    alt.Y("GDP Growth Rate:Q", axis=alt.Axis(format='%')),
    color=alt.condition(
        alt.datum['GDP Percentage Change'] < 0,
        alt.value("red"), # The positive color
        alt.value("#6d98e8")  # The negative color
    ),
    tooltip=['GDP Percentage Change']
).properties(width=600)

chart = chart.configure_axisLeft(
  labelColor='white',
  titleColor='white',
).configure_axisBottom(
  labelColor='white',
  titleColor='white'
)



chart.save('NigGDP.html')